@import "../../style.css";
@import "./swiper-bundle.min.css";

.header__main--style {
  background: #fafafa;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.dropdown-item {
  border: 1px solid #413c7e;
  border-radius: 4px;
}
.postSlider {
  // Slider Caption
  &__caption {
    overflow: hidden;
    padding: 3rem;
    margin-left: -3rem;
    &--container {
      background: linear-gradient(
        142.76deg,
        rgba(176, 67, 135, 0.8) 17.88%,
        #413c7e 94.87%
      );
      padding: 12rem 13rem 13rem 4rem;
      border-radius: 3.5rem;
      transform: skewX(-10deg);
      margin: -8rem -9rem 0 0;
      .swiper-wrapper {
        transform: skewX(10deg);
        position: static;
        .swiper-slide {
          display: flex;
          flex-direction: column;
          position: static;
        }
      }
    }
    &--button {
      align-self: end;
      color: #413c7e;
      background: #f0f2f5;
      border-radius: 4px;
      padding: 0.7rem 2rem;
      text-decoration: none;
    }
    &--text {
      margin-right: 3rem;
      margin-left: 3rem;
      min-height: 11rem;
      h1 {
        a {
          color: #ffffff;
          text-decoration: none;
        }
      }
      p {
        color: #ffffff;
        margin-top: 1rem;
      }
    }
  }
  // Slider Thumbnail
  &__thumbnail {
    overflow: hidden;
    .swiper-wrapper {
      align-items: end;
      transform: skew(10deg, -10deg);
    }
    &--image {
      img {
        width: 100%;
        transform: scale(1.2);
      }
    }
    &--frame {
      background-color: #413c7e;
      border-radius: 4.5rem;
      margin-top: -2rem;
      margin-right: 3rem;
      overflow: hidden;
      transform: skew(-10deg, 10deg) translate(-2rem, -7rem);
    }
  }
  &__navigator {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0rem;
    position: absolute;
    right: 11.6rem;
    bottom: 2.5rem;
    transform: skewX(10deg);
    &--right,
    &--left {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: opacity 0.5s ease-out;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    &--right {
      margin-left: 1rem;
    }
    &--left {
      img {
        transform: rotate(180deg);
      }
    }
  }
  // Slider bullets
  &__markdown {
    margin-right: 12rem;
    margin-top: -1rem;
    &--container {
      width: unset !important;
      .swiper-pagination-bullet {
        padding: 0.2rem 1rem;
        background: rgba(65, 60, 126, 0.8);
        border-radius: calc(100 / 16) * 1rem;
        &-active {
          background: #413c7e;
        }
      }
    }
  }
  &__rects {
    position: absolute;
    bottom: 28rem;
    right: 3rem;
    z-index: 1;
    transform: skewX(15deg);
    &--big {
      position: absolute;
      background: rgba(208, 198, 216, 0.2);
      border-radius: 24px;
      transform: rotate(54.03deg);
      right: 3rem;
      padding: 5rem;
      top: 9rem;
    }
    &--middle {
      position: absolute;
      background: rgba(208, 198, 216, 0.2);
      border-radius: 12px;
      transform: rotate(54.03deg);
      top: 19.5rem;
      right: 10rem;
      padding: 3rem;
    }
    &--small {
      position: absolute;
      background: rgba(208, 198, 216, 0.2);
      border-radius: 12px;
      transform: rotate(54.03deg);
      top: 22.5rem;
      right: 18rem;
      padding: 1.5rem;
    }
  }
}

.goals__programs {
  .block {
    box-shadow: 0px 4px 10px rgba(211, 211, 211, 0.18);
    border-radius: 16px;
    background: #ffffff;
    transition: background 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem 1rem;
    &:hover {
      background: linear-gradient(
        116.13deg,
        rgba(176, 67, 135, 0.8) 9.35%,
        rgba(65, 60, 126, 0.92) 118.21%
      );
      box-shadow: 0px 8px 20px rgba(84, 79, 143, 0.25);
      border-radius: 16px;
      h6 {
        color: #ffffff;
      }
      img {
        background: rgba(255, 255, 255, 0.21);
        border-radius: 8px;
      }
    }
    img {
      background: rgba(205, 80, 136, 0.2);
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 2rem;
    }
    h6 {
      color: #544f8f;
    }
  }
  .block__down {
    box-shadow: 0px 4px 10px rgba(211, 211, 211, 0.18);
    border-radius: 16px;
    background: #ffffff;
    transition: 2s;
    &:hover {
      background: linear-gradient(
        116.13deg,
        rgba(176, 67, 135, 0.8) 9.35%,
        rgba(65, 60, 126, 0.92) 118.21%
      );
      box-shadow: 0px 8px 20px rgba(84, 79, 143, 0.25);
      border-radius: 16px;
    }
  }
}

.text__underline {
  position: relative;
  display: inline-block;
  padding-left: 3rem;
  padding-bottom: 1rem;
  &:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -4px;
    right: 0;
    width: 50%;
    background: #413c7e;
  }
}
.background__rectangle {
  position: absolute;
  top: 84rem;
  left: -14rem;
  &--big {
    background: linear-gradient(146.37deg, #b482b5 14.33%, #9c9bc2 80.03%);
    opacity: 0.35;
    border-radius: 32px;
    transform: rotate(42.94deg);
    padding: 12rem;
  }
  &--small {
    position: absolute;
    left: 4rem;
    padding: 9rem;
    bottom: 16rem;
    background: linear-gradient(131.52deg, #e8b7cd 11.11%, #b482b5 91.74%);
    opacity: 0.35;
    border-radius: 2rem;
    transform: rotate(134.17deg);
  }
}

.bg__talent {
  padding: 10rem;
  background: linear-gradient(
    112.61deg,
    rgba(176, 67, 135, 0.891) -3.4%,
    rgba(65, 60, 126, 0.81) 54.59%
  );
  border-radius: 32px;
  transform: matrix(1, 0.08, -0.08, 1, 0, 0);
}

.shiraz__talent--section {
  .talent__button {
    background: #413c7e;
    border-radius: 4px;
    position: absolute;
    left: 0;
  }
}

/* 
Outdated Courses Style
*/
.pastCourse {
  padding-bottom: 8rem;
  background: linear-gradient(
      180deg,
      #efefef 3.82%,
      rgba(250, 250, 250, 0) 100%
    ),
    linear-gradient(97.91deg, #b04387 5.35%, rgba(65, 60, 126, 0.77) 87.74%);
  position: relative;
  /* 
header style
*/
  &__header {
    a {
      background: #413c7e;
      border-radius: 4px;
    }
  }
  /* 
slider main style
*/
  &__slider {
    overflow: hidden;
    &--images {
      img {
        border-radius: 0 1rem 1rem 0;
        width: 12rem;
        height: 100%;
        transition: all 0.5s ease;
      }
    }
    &--button {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      border: calc(1 / 16) * 1rem solid #413c7e;
      border-radius: 0.5rem;
      color: #413c7e;
      padding: 0.4rem 1rem;
      text-decoration: none;
    }
    &--container {
      height: auto;
      position: relative;
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0px 4px 20px rgba(187, 187, 187, 0.18);
      border-radius: calc(16 / 16) * 1rem;
      &:hover {
        .pastCourse__slider--images {
          background: linear-gradient(
            90.83deg,
            rgba(176, 67, 135, 0) 5.83%,
            #b04387 84.03%
          );
          img {
            transform: scale(0.9);
          }
        }
      }
    }
    &--caption {
      overflow: hidden;
      padding: 3rem 2rem 2rem 2rem;
      h5 {
        margin-bottom: 2rem;
      }
      p {
        min-height: 3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
  /* 
navigation button style
*/
  &__navigator {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0rem;
    position: absolute;
    right: 3rem;
    left: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    top: 50%;
    &--right,
    &--left {
      transition: opacity 0.5s ease-out;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &--right {
      margin-left: 1rem;
      img {
        transform: rotate(-180deg);
      }
    }
  }
  /* 
seperator style
*/
  svg {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__markdown {
    .swiper-pagination-bullet {
      padding: 0.2rem 1rem;
      background: #ffffff;
      border-radius: calc(100 / 16) * 1rem;
      opacity: 1;
      &-active {
        background: #413c7e;
      }
    }
  }
}

.upcomingEvent {
  padding-bottom: 8rem;
  position: relative;
  &__header {
    a {
      color: #413c7e;
    }
  }
  &__items {
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(187, 187, 187, 0.25);
    border-radius: 16px;
    padding: 0;
    position: relative;
    &:hover {
      .upcomingEvent__items--container {
        background: linear-gradient(
          188.64deg,
          #b04387 20.46%,
          rgba(176, 67, 135, 0.22) 59.15%,
          rgba(176, 67, 135, 0) 81.92%
        );
      }
      .upcomingEvent__items--container--skew {
        transform: scale(0.9);
      }
    }
    &--content {
      padding: 1.5rem;
    }
    &--container {
      position: relative;
      &--skew {
        overflow: hidden;
        border-radius: 1rem;
        transition: all 0.5s ease;
      }
      &--images {
        transform: skewY(8deg) translateY(-3rem);
        border-radius: 1rem;
        overflow: hidden;
        img {
          width: 100%;
          transform: skewY(-8deg) translateY(3rem);
          border-radius: 0px 16px 16px 0px;
        }
      }
      a {
        position: absolute;
        left: 2rem;
        bottom: 1rem;
        text-decoration: none;
        padding: 0.5rem 0.8rem;
        background: #6c6ba6;
        color: #ffffff;
        border-radius: calc(2 / 16) * 1rem;
        font-style: normal;
        font-weight: 500;
        font-size: calc(12 / 16) * 1rem;
        line-height: calc(18 / 16) * 1rem;
      }
    }
    &--button {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      color: #413c7e;
      border: 1px solid #413c7e;
      border-radius: 8px;
    }
  }
  &__navigator {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0rem;
    position: absolute;
    right: 3rem;
    left: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    top: 50%;
    &--right,
    &--left {
      transition: opacity 0.5s ease-out;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &--right {
      margin-left: 1rem;
      img {
        transform: rotate(-180deg);
      }
    }
  }
}

.news {
  padding-bottom: 8rem;
  background: linear-gradient(
      180deg,
      #efefef 3.58%,
      rgba(250, 250, 250, 0) 100%
    ),
    linear-gradient(94.09deg, #b04387 0.24%, rgba(65, 60, 126, 0.77) 94.22%);
  position: relative;
  &__header {
    a {
      color: #413c7e;
    }
  }
  &__items {
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(187, 187, 187, 0.25);
    border-radius: 16px;
    padding: 0;
    position: relative;
    &:hover {
      .news__items--container {
        background: linear-gradient(
          188.64deg,
          #b04387 20.46%,
          rgba(176, 67, 135, 0.22) 59.15%,
          rgba(176, 67, 135, 0) 81.92%
        );
      }
      .news__items--container--skew {
        transform: scale(0.9);
      }
    }
    &--content {
      padding: 1.5rem;
    }
    &--container {
      position: relative;
      &--skew {
        overflow: hidden;
        border-radius: 1rem;
        transition: all 0.5s ease;
      }
      &--images {
        transform: skewY(8deg) translateY(-1rem);
        border-radius: 1rem;
        overflow: hidden;
        img {
          border-radius: 0px 16px 16px 0px;
        }
      }
      a {
        position: absolute;
        left: 2rem;
        bottom: 1rem;
        text-decoration: none;
        padding: 0.5rem 0.8rem;
        background: #6c6ba6;
        color: #ffffff;
        border-radius: calc(2 / 16) * 1rem;
        font-style: normal;
        font-weight: 500;
        font-size: calc(12 / 16) * 1rem;
        line-height: calc(18 / 16) * 1rem;
      }
    }
    &--button {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      color: #413c7e;
    }
  }
  &__navigator {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0rem;
    position: absolute;
    right: 3rem;
    left: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    top: 50%;
    &--right,
    &--left {
      transition: opacity 0.5s ease-out;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    &--right {
      margin-left: 1rem;
      img {
        transform: rotate(-180deg);
      }
    }
  }
}

.footer {
  position: relative;
  &__bg {
    svg {
      position: absolute;
      top: -2.5rem;
      right: 0;
    }
  }
  &__logo {
    padding: 8rem 10rem 3rem 5rem;
  }
  &__rectangle {
    position: absolute;
    bottom: -9rem;
    right: -14rem;
    &--big {
      background: linear-gradient(146.37deg, #b482b5 14.33%, #9c9bc2 80.03%);
      opacity: 0.35;
      border-radius: calc(32 / 16) * 1rem;
      transform: rotate(80.55deg);
      padding: 12rem;
      position: absolute;
      bottom: 1rem;
      right: 0rem;
    }
    &--small {
      position: absolute;
      right: 11rem;
      padding: 9rem;
      bottom: -4rem;
      background: linear-gradient(131.52deg, #e8b7cd 11.11%, #b482b5 91.74%);
      opacity: 0.35;
      border-radius: calc(32 / 16) * 1rem;
      transform: rotate(138.93deg);
    }
  }
  &__nav {
    h5 {
      color: #413c7e;
    }
    p {
      color: #0b0b0b;
    }
  }
  &__social {
    h5 {
      color: #413c7e;
    }
    p {
      color: #0b0b0b;
    }
  }
  &__copyright {
    color: #413c7e;
    padding-top: 1rem;
    border-image: linear-gradient(
        to left,
        rgba(107, 103, 154, 0) 10%,
        rgba(107, 103, 154, 0.4) 50%,
        rgba(107, 103, 154, 0) 90%
      )
      100% 0 0 0/0.2rem 0 0 0 stretch;
  }
}

.swiper {
  width: 100%;
  height: 15rem;
}
